<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-4">
        <div class="row" id="product"></div>
    </div>

    <script>
        const { ipcRenderer } = require('electron');

        const product = document.querySelector('#product');

        ipcRenderer.on('product:new', (e, newProduct) => {
            const newProductTemplate = '<div class="col-xs-4 p-2">' + 
                    '<div class="card text-center">' +
                        '<div class="card-header">' +
                            '<h5 class="card-title">' + newProduct.name +'</h5>' +
                        '</div>' +
                        '<div class="card-body">' +
                            '<p>' + newProduct.description + '</p>' +
                            '<hr/>' +
                            '<p>' + newProduct.price + '</p>' +
                        '</div>' +
                        '<div class="card-footer">' +
                            '<button class="btn btn-danger btn-sm">Delete</button>' +
                        '</div>' +
                    '</div>' +
                '</div>';

            product.innerHTML += newProductTemplate;

            const btns = document.querySelectorAll('.btn.btn-danger');
            btns.forEach(btn => {
                btn.addEventListener('click', e => {
                    e.target.parentElement.parentElement.parentElement.remove();
                });
            });
        });

        ipcRenderer.on('products:remove-all', (e) => {
            product.innerHTML = '';
        });
    </script>
</body>
</html>